.nav {
    grid-area: n;
    background-color: white;
    padding: 20px;
}

.item a {
    color: #3376BC;
    text-decoration: none;
    font-weight: 400;
}

.item a.active {
    color: red;
    text-decoration: underline;
    font-weight: 400;
}
